# Исключаем `__pycache__` во всех подпапках
__pycache__/

# Исключаем папку `logs`
logs/
dist/
build/
venv/

# Исключаем все `.svn` папки (рекурсивно)
.svn/

# Исключаем временные файлы SQLite
*.db
*.dbf

# Исключаем исполняемый файл
*.exe